.fourchoicequestion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: var(--ifm-color-word);
}

.question {
  margin: 15px;
  padding: inherit;
  border-radius: 20px;
  border: 2px solid var(--ifm-color-primary-darkest);
  width: 100%;
  color: inherit;
}

.choice_area {
  display: flex;
  flex-direction: column;
  padding: inherit;
  margin: 5px;
}

.choice {
  box-shadow: none !important;
  cursor: pointer;
}

.answer_choice {
  margin-left: 10px;
}

.radiolabel {
  text-decoration: none;
  color: var(--ifm-color-primary-darkest);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

input[type="radio"]:checked + .radiolabel {
  background-color: var(--ifm-color-primary-light);
  /* pointer-events: none; */
}

input[type="radio"].radiobtn {
  display: none;
}
