.fourchoicequestion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: var(--ifm-color-word);
}

.question {
  margin: 15px;
  padding: inherit;
  border-radius: 20px;
  border: 2px solid var(--ifm-color-primary-darkest);
  width: 100%;
  color: inherit;
}

.choice_area {
  display: flex;
  flex-direction: column;
  padding: inherit;
  margin: 5px;
}

.choice {
  box-shadow: none !important;
  cursor: pointer;
}

.answer_choice {
  margin-left: 10px;
}
